<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="description" content="Personal Web Page of Maksim Khadkevich"/>
    <meta name="keywords" content="Maksim Khadkevich"/>
    <title>Personal Web Page of Maksim Khadkevich :: {{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="css/default.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-15936035-3']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>

</head>
<body>
<div id="header">
    <h1>Maksim Khadkevich</h1>

    <h2>Personal Web Page</h2>
</div>


<div id="menu">
    <ul id="menutabs" class="shadetabs">
        <li><a href="main.html">Main Page</a></li>
        <li><a href="publications.html">Publications</a></li>
        <li><a href="aboutme.html">About me</a></li>
    </ul>
</div>


<div id="content">

    <div id="colOne">
        <p><img src="images/foto.jpg" alt="My photo"/>
            <br/>

        <p><Maksim Khadkevich, PhD
            <i>FBK-IrsT
via Sommarive, 18
38050 Povo Trento
            </i>
        </p>

        <p>

        <p>
            email:khadkevich_&lt;at&gt;_fbk_._eu <br/>
            Phone: +39 0461 314 544 <br/>
        </p>


    </div>

    <div id="colTwo">
        {{ content }}
    </div>

    <div style="clear: both;">&nbsp;</div>
</div>

<div id="footer">
    <p>&copy; 2011 Maksim Khadkevich Last updated: September 16, 2011.</p>
</div>

<script type="text/javascript">
    var countries = new ddajaxtabs("menutabs", "colTwo")
    countries.setpersist(true)
    countries.setselectedClassTarget("link")
    countries.init()
</script>

</body>
</html>
